body.hide-main-menu {
  .side-menu {
    width: 80px;
  }

  .dv-app-theme .dv-app-content {
    margin-left: 80px;
  }

  &.frappe-rtl {
    .dv-app-theme .dv-app-content {
      margin-left: 0 $imp;
      margin-right: 80px $imp;
    }
  }
}
