@media (max-width: 1380px) {
  .dv-navbar .dv-nav-search {
    width: 250px;
  }
  .dv-navbar .dv-nav-search .form-control {
    font-size: 13px;
  }
  .dv-navbar .dv-nav-right > ul > li.dropdown-full-screen, .dv-navbar .dv-nav-right > ul > li.dropdown-files {
    display: none $imp;
  }
  .form-heatmap .heatmap .chart-container {
    overflow: auto;
  }
  .dv-navbar .dv-nav-right > ul > li.dropdown-user > a .dv-user-info span.user-name {
    font-size: 14px;
  }
}

@media (max-width: 1028px) {
  .side-menu {
    display: none;
  }
  #navbar-breadcrumbs, .side-menu .modules-menu, .side-menu .side-menu-icons, .side-menu .side-menu-items {
    display: none $imp;
  }
  .dv-app-theme .dv-app-content {
    margin-left: 0 $imp;
    padding-right: 0;
    padding-left: 0;
  }
  .side-menu {
    background: transparent;
    border: 0px;
    width: 250px;
    top: 0px;
  }
  .dv-navbar .dv-nav-left .btn-open-modules {
    display: none;
  }
  .dv-navbar .dv-nav-left .btn-open-mobile-menu {
    display: block;
  }
  .show-in-mobile-lg {
    display: flex;
  }
  button.btn-toggle-main-menu.menu-shown, .layout-main .btn-toggle-sidebar {
    display: none !important;
  }
  .content.page-container {
    padding: 0px 15px !important;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 800px to 1024px
*/

@media (max-width: 991px) {
  .tooltip.bs-tooltip-top {
    display: none $imp;
  }
  .tooltip.show {
    opacity: 0 $imp;
  }
}

@media (max-width: 820px) {
  .dv-navbar .dv-nav-search {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    margin: 0;
    height: 60px;
    z-index: 55;
    display: none;
  }
  .dv-navbar .dv-nav-search .form-control {
    border: transparent;
    height: 59px;
    padding-left: 40px;
    font-weight: 600;
    font-size: 16px;
  }
  .dv-navbar .dv-nav-search .search-icon {
    top: 18px;
    left: 17px;
    font-size: 17px;
  }
  .dv-navbar .dv-nav-right > ul > li.dropdown-full-screen, .dv-navbar .dv-nav-right > ul > li.dropdown-files {
    display: none;
  }
  .dv-navbar .dv-nav-right > ul > li.dropdown-search {
    display: block;
  }
  .dv-navbar .dv-nav-search .dv-nav-search-close {
    display: block;
  }
  .form-heatmap .heatmap .chart-container {
    width: 100% $imp;
    overflow: hidden;
  }
  .layout-main-section-wrapper {
    margin-bottom: 50px;
  }
}

@media (max-width: 800px) {

}

@media (max-width: 767px) {

}

@media (max-width: 600px) {
  .dv-navbar .dv-nav-left .logo {
    margin: 10px 0px 0px 18px;
  }
  .avatar-medium {
    width: 30px;
    height: 30px;
  }
  .dv-navbar .dv-nav-right > ul > li.dropdown-user > a .dv-nav-avatar {
    margin-top: 4px;
  }
  .dv-navbar .dv-nav-right > ul > li.dropdown-user > a .dv-user-info {
    position: relative;
    top: 3px;
    display: none;
  }
  .dv-navbar .dv-nav-right > ul > li.dropdown-user > a .dv-nav-avatar {
    margin-left: 5px;
  }
  .dv-navbar .dv-nav-right > ul > li.dropdown-user > a .dv-user-info span.user-name {
    font-size: 14px;
  }
  .dv-navbar .dv-nav-right > ul > li.dropdown-user > a {
    padding: 8px 0px;
  }
  .dv-navbar .dv-nav-right > ul > li.dropdown-language > a.dropdown-lang-link .dv-lang-flag {
    width: 17px;
    height: 17px;
    margin-top: 7px;
  }
  .dv-navbar .dv-nav-right > ul > li {
    margin: 5px 0px 0px 10px;
  }
  .page-title .sidebar-toggle-btn {
    display: flex $imp;
  }
  .show-on-mobile {
    display: inherit;
  }
  .dv-navbar .dv-nav-right > ul > li.dropdown-user .dropdown-menu {
    left: 0 $imp;
    right: unset;
  }
  .form-tabs-sticky-down {
      top: 0;
  }
}

@media (max-width: 480px) {
  .page-title .sidebar-toggle-btn {
    position: relative;
    top: 0px;
  }
  .dv-navbar .dv-nav-left .logo {
      max-width: 90px;
  }
  .dv-navbar .dv-nav-left .btn-open-mobile-menu {
      margin: -2px -10px 0px -15px;
      height: 40px;
      width: 30px;
      line-height: 49px;
      font-size: 19px;
  }
  [dir="rtl"] {
    body {
      overflow-x: hidden $imp;
    }
  }
}

@media (max-width: 440px) {

}

@media (max-width: 400px) {

}

@media (max-width: 380px) {
  .dv-navbar .dv-nav-right > ul > li {
    margin: 3px 5px 0px 0px;
  }
  .dv-navbar .dv-nav-left .logo {
    margin-left: 5px;
  }
  .dv-navbar .dv-nav-right > ul > li.dropdown-user > a .dv-user-info span.user-name {
    font-size: 12px;
  }
  .dv-navbar .dv-nav-right > ul > li.dropdown-user > a .dv-user-info span.user-status {
    font-size: 10px;
  }
  .dv-navbar .dv-nav-right > ul > li.dropdown-help {
    display: none;
  }
}
