.side-menu {
  background: #ffffff;
  /* border-right: 1px solid #ddd; */
  //box-shadow: var(--card-shadow);
  border-right: 1px solid #e6e6e6;
  width: 340px;
  position: fixed;
  left: 0px;
  top: 60px;
  bottom: 0px;
  overflow: hidden;
  z-index: 250;
  transition: all 0.3s ease-in-out;

  .modules-menu {
    background: #ffffff;
    box-shadow: var(--card-shadow);
    position: absolute;
    width: 340px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    display: none;

    h4 {
      margin: 0px;
      font-size: 18px;
    }

    .modules-menu-list {
      margin: 15px 20px;

      a {
        border: 1px solid transparent;
        display: block;
        margin: 0px;
        padding: 0px 5px 0px 10px;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        font-weight: 600;
        color: #4b84a0;
        overflow: hidden;
        border-radius: 4px;
        word-break: break-all;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: all 0.2s ease-in;

        i {
          font-size: 17px;
          font-weight: 300;
          margin-right: 2px;

          &.fal {
            position: relative;
          }

          &[class^="flaticon-"] {
            position: relative;
            top: 3px;
            display: inline-block;
          }
        }

        &:hover {
          box-shadow: 0px 0px 8px -3px #00000059;
          border-color: #e6e6e6;
          color: #14a6ef;
        }

        &.active {
          color: #14a6ef;
          font-weight: 700;
        }
      }
    }
  }

  .side-menu-icons {
    border-right: 1px solid #e6e6e6;
    width: 80px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;

    > ul {
      position: absolute;
      top: 0px;
      right: 0px;
      left: 0px;
      bottom: 0px;
      margin: 5px 0px 15px 0px;

      > li {
        margin: 10px 15px;
        display: block;

        > a {
          border: 1px solid transparent;
          width: 50px;
          height: 50px;
          line-height: 50px;
          font-size: 24px;
          color: #4b84a0;
          display: block;
          text-align: center;
          border-radius: 5px;
          transition: all 0.2s ease-in-out;

          i.fal {
            position: relative;
          }

          i[class^="flaticon-"] {
            position: relative;
            top: 3px;
            display: inline-block;
          }

          &:hover {
            background: #f7f9fe;
            border-color: $my_color;
            color: $my_color;
          }
        }

        &.active {
          > a {
            background: $my_color;
            box-shadow: 0px 1px 8px -2px rgba(0, 0, 0, 0.25);
            color: #ffffff;
          }
        }
      }
    }

    &.menu-icons-with-label {
      > ul {
        > li {
          > a {
            width: auto;
            height: auto;
            line-height: inherit;
            font-size: 14px;
            transition: all 0.2s ease-in-out;

            > div {
              border: 1px solid transparent;
              width: 50px;
              height: 50px;
              display: block;
              line-height: 50px;
              font-size: 24px;
              margin: 0px;
              color: #4b84a0;
              border-radius: 5px;
              overflow: hidden;
              transition: all 0.2s ease-in-out;
            }

            > span {
              display: block;
              text-align: center;
              font-size: 12px;
              overflow: hidden;
              text-overflow: ellipsis;
              margin: 5px -6px 0px -5px;
            }

            &:hover {
              background: transparent $imp;
              border-color: transparent $imp;
              color: $my_color;

              > div {
                background: #f7f9fe;
                border-color: $my_color;
                color: $my_color;
              }
            }
          }
          &.active {
            > a {
              background: transparent $imp;
              box-shadow: none;
              color: $my_color;

              > div {
                background: $my_color;
                box-shadow: 0px 1px 8px -2px rgba(0, 0, 0, 0.25);
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }

  .side-menu-items {
    width: 260px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 80px;

    > ul {
      margin: 0px;
      padding: 0px;

      > li {
        margin: 0px;

        &.navigation-divider {
          padding: 10px 20px;
          text-transform: uppercase;
          font-size: 16px;
          letter-spacing: 0.5px;
          margin-top: 10px;
          margin-bottom: 10px;
          color: #666666;

          .sub-menu-icon {
            margin-right: 2px;
            font-size: 18px;
            position: relative;
            top: 0px;
            opacity: 0.8;
          }

        }
      }

      &.dropdown-list {
        position: absolute;
        top: 65px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        margin-bottom: 15px;

        > li {
          > a {
            background: #f3f6fdb3;
            border: 1px solid #d1d3d8;
            display: block;
            margin: 0px 15px 10px 15px;
            padding: 8px 15px;
            color: #666;
            font-size: 14px;
            font-weight: 600;
            text-decoration: none;
            border-radius: 5px;
            transition: all 0.2s ease-in-out;

            .sub-menu-arrow {
              float: right;
              margin: 3px 0px;
              font-size: 16px;
              color: #aaa;
              transition: all 0.2s ease-in-out;
            }

            &:hover {
              border-color: $my_color;
              color: $my_color;

              .sub-menu-arrow {
                color: $my_color;
              }
            }
          }

          > ul {
            margin: 0px 0px 15px 0px;
            padding: 0px;
            display: none;

            > li {
              margin: 0px;

              > a {
                padding: 0px;
                margin: 0px 15px 5px 30px;
                transition: all 0.2s ease-in-out;
                height: auto;
                line-height: initial;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%;
                display: block;
                text-decoration: none;

                &:before {
                  display: inline-block;
                  content: '-';
                  font-weight: 400;
                  margin: 0px 6px 0px 0px;
                  transition: all 0.2s ease-in-out;
                }

                &:hover {
                  color: $my_color;

                  &:before {
                    margin-right: 12px;
                  }
                }
              }

              &.active {
                > a {
                  color: $my_color;
                  font-weight: 600;
                }
              }
            }
          }

          &.active {
            > a {
              background: $my_color;
              border-color: $my_color;
              color: #ffffff;

              .sub-menu-arrow {
                color: #ffffff;
                transform: rotate(180deg);
              }
            }

            &.hide-sub-menu {
              > a {
                .sub-menu-arrow {
                  transform: rotate(0deg);
                }
              }
            }
          }
        }

      }
    }
  }
}

.side-mobile-menu {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  width: 280px;
  position: fixed;
  left: 0px;
  top: 60px;
  bottom: 0px;
  overflow: auto;
  display: none;

  > ul.mobile-modules-list {
    margin: 10px 0px;

    > li {
      margin: 0px 10px;

      > a {
        background: transparent;
        border: 1px solid transparent;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        color: #30434f;
        display: block;
        border-radius: 5px;
        padding: 0px 10px;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;

        &:active, &:focus {
          background: $my_color;
          border-color: $my_color;
          box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.25);
          color: #ffffff $imp;
        }
      }

      &.active {
        > a {
          background: $my_color;
          border-color: $my_color;
          box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.25);
          color: #ffffff $imp;
        }
      }
    }
  }

  > ul.mobile-modules-menu-list {
    margin: 10px 0px;

    > li {
      > a {
        background: #f3f6fdb3;
        border: 1px solid #d1d3d8;
        display: block;
        margin: 0px 15px 10px 15px;
        padding: 8px 15px;
        color: #666;
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;

        .sub-menu-arrow {
          float: right;
          margin: 3px 0px;
          font-size: 16px;
          color: #aaa;
          transition: all 0.2s ease-in-out;
        }

        &:hover {
          border-color: $my_color;
          color: $my_color;

          .sub-menu-arrow {
            color: $my_color;
          }
        }
      }

      > ul {
        margin: 0px 0px 15px 0px;
        padding: 0px;
        display: none;

        > li {
          margin: 0px;

          > a {
            padding: 0px;
            margin: 0px 15px 5px 30px;
            transition: all 0.2s ease-in-out;
            height: auto;
            line-height: initial;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
            display: block;
            text-decoration: none;

            &:before {
              display: inline-block;
              content: '-';
              font-weight: 400;
              margin: 0px 6px 0px 0px;
              transition: all 0.2s ease-in-out;
            }

            &:hover {
              color: $my_color;

              &:before {
                margin-right: 12px;
              }
            }
          }

          &.active {
            > a {
              color: $my_color;
              font-weight: 600;
            }
          }
        }
      }

      &.active {
        > a {
          background: $my_color;
          border-color: $my_color;
          color: #ffffff;

          .sub-menu-arrow {
            color: #ffffff;
            transform: rotate(180deg);
          }
        }

        &.hide-sub-menu {
          > a {
            .sub-menu-arrow {
              transform: rotate(0deg);
            }
          }
        }
      }
    }
  }

  .mobile-back-modules {
    background: transparent;
    border: 0px;
    margin: 15px 10px 5px 10px;
    font-size: 16px;
    font-weight: 600;
    color: #2490ef;
    outline: none $imp;
  }
}
